<form>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
</form>

<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onSort()">Basic</button>
</div>
